# Tipos de Encoding de Variáveis

- Existem  pelo  menos  3  tipos  principais  de  encoding  de  variáveis: Count/Frequency Encoding, Label Encoding e One-Hot Encoding.
- Cada tipo pode ser usado dependendo do objetivo da análise e do formato da variável. Normalmente não há um tipo melhor do que o outro e o importante é justificar sua escolha ao aplicar um dos métodos.

## Count/Frequency Encoding
- Count Encoding substitui as categorias pela contagem das observações dessa categoria no conjunto de dados.
- Podemos substituir a categoria pela frequência ou pela porcentagem de observações no conjunto de dados e nesse caso teríamos Frequency Encoding
- Se 5 de nossas 10 observações mostram a cor prata, substituiríamos prata por 5 se estivermos fazendo a codificação de contagem ou por 0.5 se substituíssemos pela frequência.
- Esse tipo de encoding é mais utilizado quando se tem um número muito alto de categorias.
- **Limitação:** se duas categorias diferentes aparecem a mesma quantidade de vezes no conjunto de dados, serão substituídas pelo mesmo número, podendo portanto perder informações valiosas.

Usamos este dataset como referência e fizemos alterações para o Lab:

https://www.kaggle.com/c/mercedes-benz-greener-manufacturing

In [18]:
# Imports
import pandas as pd
import numpy as np
import datetime

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
df = pd.read_csv('Labs/dados/dataset.csv', usecols = ['X1', 'X2', 'X3'])

In [4]:
df.shape

(4209, 3)

In [5]:
df.head()

  X1  X2 X3
0  v  at  a
1  t  av  e
2  w   n  c
3  t   n  f
4  v   n  f

In [6]:
# Valores únicos dentro da coluna X1
len(df.X1.unique())

27

In [7]:
# Contar os valores únicos para cada coluna
for i in df.columns:
    print(i, '-', len(df[i].unique()), 'caregorias')

X1 - 27 caregorias
X2 - 44 caregorias
X3 - 7 caregorias

In [8]:
# Contagem/frequencia das categorias da coluna X1
frequencia = df.X1.value_counts().to_dict()

In [9]:
# Visualiza
frequencia

{'aa': 833,
 's': 598,
 'b': 592,
 'l': 590,
 'v': 408,
 'r': 251,
 'i': 203,
 'a': 143,
 'c': 121,
 'o': 82,
 'w': 52,
 'z': 46,
 'u': 37,
 'e': 33,
 'm': 32,
 't': 31,
 'h': 29,
 'y': 23,
 'f': 23,
 'j': 22,
 'n': 19,
 'k': 17,
 'p': 9,
 'g': 6,
 'd': 3,
 'q': 3,
 'ab': 3}

In [10]:
# Agora fazemos o replace de cada categoria pela contagem/frequencia na coluna X1
df.X1 = df.X1.map(frequencia)

In [11]:
# Visualiza
df

       X1  X2 X3
0     408  at  a
1      31  av  e
2      52   n  c
3      31   n  f
4     408   n  f
...   ...  .. ..
4204  598  as  c
4205   82   t  d
4206  408   r  a
4207  251   e  f
4208  251  ae  c

[4209 rows x 3 columns]

- Fazemos o mesmo para as demais colunas.

In [12]:
# Contagem/frequencia das categorias da coluna X2
frequencia = df.X2.value_counts().to_dict()

In [13]:
# Agora fazemos o replace de cada categoria pela contagem/frequencia na coluna X2
df.X2 = df.X2.map(frequencia)

In [14]:
# Contagem/frequencia das categorias da coluna X3
frequencia = df.X3.value_counts().to_dict()

In [15]:
# Agora fazemos o replace de cada categoria pela contagem/frequencia na coluna X3
df.X3 = df.X3.map(frequencia)

In [16]:
# Verificamos se algum valor nulo foi gerado
df.isnull().any()

X1    False
X2    False
X3    False
dtype: bool

In [17]:
# Transformação realizada com sucesso
df

       X1    X2    X3
0     408     6   440
1      31     4   163
2      52   137  1942
3      31   137  1076
4     408   137  1076
...   ...   ...   ...
4204  598  1659  1942
4205   82    29   290
4206  408   153   440
4207  251    81  1076
4208  251   496  1942

[4209 rows x 3 columns]

# Label Encoding
- Label Encoding é a substituição de uma categoria por sua representação numérica correspondente.
- Usamos o Label Encoding quando temos um número baixo de caregorias, entre (10 a 15).
- **Limitação:** Label Encoding não é adequeado para modelos lineares como regressão logística.

In [19]:
# Extrai a data atual do sistema
data_atual = datetime.datetime.now()

In [20]:
data_atual

datetime.datetime(2022, 2, 3, 10, 10, 44, 546494)

In [21]:
# Vamos gerar um range de datas dos 20 anteriores à data atual
date_list = [data_atual - datetime.timedelta(days = x) for x in range(0,20) ]

In [22]:
date_list

[datetime.datetime(2022, 2, 3, 10, 10, 44, 546494),
 datetime.datetime(2022, 2, 2, 10, 10, 44, 546494),
 datetime.datetime(2022, 2, 1, 10, 10, 44, 546494),
 datetime.datetime(2022, 1, 31, 10, 10, 44, 546494),
 datetime.datetime(2022, 1, 30, 10, 10, 44, 546494),
 datetime.datetime(2022, 1, 29, 10, 10, 44, 546494),
 datetime.datetime(2022, 1, 28, 10, 10, 44, 546494),
 datetime.datetime(2022, 1, 27, 10, 10, 44, 546494),
 datetime.datetime(2022, 1, 26, 10, 10, 44, 546494),
 datetime.datetime(2022, 1, 25, 10, 10, 44, 546494),
 datetime.datetime(2022, 1, 24, 10, 10, 44, 546494),
 datetime.datetime(2022, 1, 23, 10, 10, 44, 546494),
 datetime.datetime(2022, 1, 22, 10, 10, 44, 546494),
 datetime.datetime(2022, 1, 21, 10, 10, 44, 546494),
 datetime.datetime(2022, 1, 20, 10, 10, 44, 546494),
 datetime.datetime(2022, 1, 19, 10, 10, 44, 546494),
 datetime.datetime(2022, 1, 18, 10, 10, 44, 546494),
 datetime.datetime(2022, 1, 17, 10, 10, 44, 546494),
 datetime.datetime(2022, 1, 16, 10, 10, 44, 546494),
 datetime.datetime(2022, 1, 15, 10, 10, 44, 546494)]

In [26]:
# Convertemos a lista em um dataframe
df = pd.DataFrame(date_list)

In [27]:
df.head()

                           0
0 2022-02-03 10:10:44.546494
1 2022-02-02 10:10:44.546494
2 2022-02-01 10:10:44.546494
3 2022-01-31 10:10:44.546494
4 2022-01-30 10:10:44.546494

In [28]:
# Ajusta o nome da coluna
df.columns = ['data']

In [29]:
df.head()

                        data
0 2022-02-03 10:10:44.546494
1 2022-02-02 10:10:44.546494
2 2022-02-01 10:10:44.546494
3 2022-01-31 10:10:44.546494
4 2022-01-30 10:10:44.546494

In [30]:
# Extraímos os dias da semana
df['dia_da_semana'] = df['data'].dt.day_name()

In [31]:
df

                         data dia_da_semana
0  2022-02-03 10:10:44.546494      Thursday
1  2022-02-02 10:10:44.546494     Wednesday
2  2022-02-01 10:10:44.546494       Tuesday
3  2022-01-31 10:10:44.546494        Monday
4  2022-01-30 10:10:44.546494        Sunday
5  2022-01-29 10:10:44.546494      Saturday
6  2022-01-28 10:10:44.546494        Friday
7  2022-01-27 10:10:44.546494      Thursday
8  2022-01-26 10:10:44.546494     Wednesday
9  2022-01-25 10:10:44.546494       Tuesday
10 2022-01-24 10:10:44.546494        Monday
11 2022-01-23 10:10:44.546494        Sunday
12 2022-01-22 10:10:44.546494      Saturday
13 2022-01-21 10:10:44.546494        Friday
14 2022-01-20 10:10:44.546494      Thursday
15 2022-01-19 10:10:44.546494     Wednesday
16 2022-01-18 10:10:44.546494       Tuesday
17 2022-01-17 10:10:44.546494        Monday
18 2022-01-16 10:10:44.546494        Sunday
19 2022-01-15 10:10:44.546494      Saturday

In [32]:
# Criamos um dicionário mapeando dia da semana com um número correspondente
# Obs: se o seu sistema estiver em português e se for necessário, use os dias da semana em português
dict_dia_semana = {'Monday':1, 
                   "Tuesday":2,
                   "Wednesday":3,
                   "Thursday":4,
                   "Friday":5,
                   "Saturday":6,
                   "Sunday":7}

In [33]:
# Label Encode - Substituímos o nome da semana pelo número correspondente
df['dia_semana_cod'] = df['dia_da_semana'].map(dict_dia_semana)

In [34]:
df

                         data dia_da_semana  dia_semana_cod
0  2022-02-03 10:10:44.546494      Thursday               4
1  2022-02-02 10:10:44.546494     Wednesday               3
2  2022-02-01 10:10:44.546494       Tuesday               2
3  2022-01-31 10:10:44.546494        Monday               1
4  2022-01-30 10:10:44.546494        Sunday               7
5  2022-01-29 10:10:44.546494      Saturday               6
6  2022-01-28 10:10:44.546494        Friday               5
7  2022-01-27 10:10:44.546494      Thursday               4
8  2022-01-26 10:10:44.546494     Wednesday               3
9  2022-01-25 10:10:44.546494       Tuesday               2
10 2022-01-24 10:10:44.546494        Monday               1
11 2022-01-23 10:10:44.546494        Sunday               7
12 2022-01-22 10:10:44.546494      Saturday               6
13 2022-01-21 10:10:44.546494        Friday               5
14 2022-01-20 10:10:44.546494      Thursday               4
15 2022-01-19 10:10:44.546494     Wednesday               3
16 2022-01-18 10:10:44.546494       Tuesday               2
17 2022-01-17 10:10:44.546494        Monday               1
18 2022-01-16 10:10:44.546494        Sunday               7
19 2022-01-15 10:10:44.546494      Saturday               6

# One-Hot Encoding
- One-Hot Encoding é a codificação de cada variável caregórica em diferentes variáveis booleanas, que assumem valores 0 ou 1, indicando se uma categoria está ou não presente em uma observação.
- One-Hot Encoding é muito utilizadoem processamento de linguagem natural e técnicas de processamento de texto.
- Usamos One-Hot Encoding quando precisamos estabelecer uma relação binária entre as categorias.
- **Limitação:** Expande a dimensão à medida que o número de colunas aumenta, o que pode levar a diversos problemas no processo de análise e modelagem preditiva.

In [36]:
# Carrega algumas colunas do dataset
dados = pd.read_csv('Labs/dados/dataset.csv', usecols = ['X1','X2','X3','X4','X5','X6'])

In [37]:
dados.shape

(4209, 6)

In [38]:
dados.head()

  X1  X2 X3 X4 X5 X6
0  v  at  a  d  u  j
1  t  av  e  d  y  l
2  w   n  c  d  x  j
3  t   n  f  d  x  l
4  v   n  f  d  h  d

In [39]:
# Categorias únicas por coluna
for cols in dados.columns:
    print(cols,':', len(dados[cols].unique()), 'categorias')

X1 : 27 categorias
X2 : 44 categorias
X3 : 7 categorias
X4 : 4 categorias
X5 : 29 categorias
X6 : 12 categorias

In [40]:
# Vamos descobrir quantas colunas adicionais iremos obter após aplicar One-Hot-Encoding
# 123 (total de categorias) - 6 colunas originais = 117
pd.get_dummies(dados, drop_first = True).shape

(4209, 117)

In [41]:
# Aplicamos One-Hot-Encoding
novos_dados = pd.get_dummies(dados, drop_first = True)

In [42]:
novos_dados

,X1_aa,X1_ab,X1_b,X1_c,X1_d,X1_e,X1_f,X1_g,X1_h,X1_i,X1_j,X1_k,X1_l,X1_m,X1_n,X1_o,X1_p,X1_q,X1_r,X1_s,X1_t,X1_u,X1_v,X1_w,X1_y,X1_z,X2_aa,X2_ac,X2_ae,X2_af,X2_ag,X2_ah,X2_ai,X2_ak,X2_al,X2_am,X2_an,X2_ao,X2_ap,X2_aq,X2_ar,X2_as,X2_at,X2_au,X2_av,X2_aw,X2_ay,X2_b,X2_c,X2_d,X2_e,X2_f,X2_g,X2_h,X2_i,X2_j,X2_k,X2_l,X2_m,X2_n,X2_o,X2_p,X2_q,X2_r,X2_s,X2_t,X2_x,X2_y,X2_z,X3_b,X3_c,X3_d,X3_e,X3_f,X3_g,X4_b,X4_c,X4_d,X5_ab,X5_ac,X5_ad,X5_ae,X5_af,X5_ag,X5_ah,X5_c,X5_d,X5_f,X5_g,X5_h,X5_i,X5_j,X5_k,X5_l,X5_m,X5_n,X5_o,X5_p,X5_q,X5_r,X5_s,X5_u,X5_v,X5_w,X5_x,X5_y,X6_b,X6_c,X6_d,X6_e,X6_f,X6_g,X6_h,X6_i,X6_j,X6_k,X6_l
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
4205,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
4206,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
4207,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
4208,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0

In [43]:
# Verificamos se algum valor nulo foi gerado
novos_dados.isnull().any()

X1_aa    False
X1_ab    False
X1_b     False
X1_c     False
X1_d     False
         ...
X6_h     False
X6_i     False
X6_j     False
X6_k     False
X6_l     False
Length: 117, dtype: bool

- Será que precisamos realmente aplicar One-Hot-Encoding em todas as categorias?

In [44]:
# X1 tem 27 categorias. Vamos listar as 10 categorias com mais registros
dados.X1.value_counts(ascending = False).head(10)

aa    833
s     598
b     592
l     590
v     408
r     251
i     203
a     143
c     121
o      82
Name: X1, dtype: int64

In [45]:
# Colocamos as 10 categorias em uma nova variável Python
top_10 = [x for x in dados.X1.value_counts().head(10).index]

In [46]:
top_10

['aa', 's', 'b', 'l', 'v', 'r', 'i', 'a', 'c', 'o']

In [47]:
# Criamos uma função para criar as novas variáveis com One-Hot-Encoding
def one_hot_top10(df, column, top_10):
    for i in top_10:
        df[column + "_" + i ] = np.where(dados[column]==i,1,0)

In [48]:
# Executamos a função e aplicamos One-Hot-Encoding
one_hot_top10(dados, 'X1', top_10)

In [49]:
dados

,X1,X2,X3,X4,X5,X6,X1_aa,X1_s,X1_b,X1_l,X1_v,X1_r,X1_i,X1_a,X1_c,X1_o
0,v,at,a,d,u,j,0,0,0,0,1,0,0,0,0,0
1,t,av,e,d,y,l,0,0,0,0,0,0,0,0,0,0
2,w,n,c,d,x,j,0,0,0,0,0,0,0,0,0,0
3,t,n,f,d,x,l,0,0,0,0,0,0,0,0,0,0
4,v,n,f,d,h,d,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,s,as,c,d,aa,d,0,1,0,0,0,0,0,0,0,0
4205,o,t,d,d,aa,h,0,0,0,0,0,0,0,0,0,1
4206,v,r,a,d,aa,g,0,0,0,0,1,0,0,0,0,0
4207,r,e,f,d,aa,l,0,0,0,0,0,1,0,0,0,0
4208,r,ae,c,d,aa,g,0,0,0,0,0,1,0,0,0,0

In [50]:
# Extraímos top 10 de X2
top_10 = [x for x in dados.X2.value_counts().head(10).index  ]

In [51]:
# Executamos a função e aplicamos One-Hot-Encoding
one_hot_top10(dados, 'X2', top_10)

In [52]:
dados

,X1,X2,X3,X4,X5,X6,X1_aa,X1_s,X1_b,X1_l,X1_v,X1_r,X1_i,X1_a,X1_c,X1_o,X2_as,X2_ae,X2_ai,X2_m,X2_ak,X2_r,X2_n,X2_s,X2_f,X2_e
0,v,at,a,d,u,j,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,t,av,e,d,y,l,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,w,n,c,d,x,j,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
3,t,n,f,d,x,l,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
4,v,n,f,d,h,d,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,s,as,c,d,aa,d,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
4205,o,t,d,d,aa,h,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
4206,v,r,a,d,aa,g,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
4207,r,e,f,d,aa,l,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1
4208,r,ae,c,d,aa,g,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0

In [53]:
# X3:
top_10 = [x for x in dados.X3.value_counts().head(10).index]
top_10

['c', 'f', 'a', 'd', 'g', 'e', 'b']

In [54]:
# Executamos a função e aplicamos One-Hot-Encoding
one_hot_top10(dados, 'X3', top_10)

In [55]:
# X4:
top_10 = [ x for x in dados.X4.value_counts().head(10).index]
top_10

['d', 'a', 'b', 'c']

In [56]:
# Executamos a função e aplicamos One-Hot-Encoding
one_hot_top10(dados, 'X4', top_10)

In [57]:
# X5:
top_10 = [ x for x in dados.X5.value_counts().head(10).index]
top_10

['w', 'v', 'q', 'r', 's', 'd', 'n', 'p', 'm', 'i']

In [58]:
# Executamos a função e aplicamos One-Hot-Encoding
one_hot_top10(dados, 'X5', top_10)

In [59]:
# X6:
top_10 = [ x for x in dados.X6.value_counts().head(10).index]
top_10

['g', 'j', 'd', 'i', 'l', 'a', 'h', 'k', 'c', 'b']

In [60]:
# Executamos a função e aplicamos One-Hot-Encoding
one_hot_top10(dados, 'X6', top_10)

In [61]:
# Verificamos se algum valor nulo foi gerado
dados.isnull().any()

X1       False
X2       False
X3       False
X4       False
X5       False
X6       False
X1_aa    False
X1_s     False
X1_b     False
X1_l     False
X1_v     False
X1_r     False
X1_i     False
X1_a     False
X1_c     False
X1_o     False
X2_as    False
X2_ae    False
X2_ai    False
X2_m     False
X2_ak    False
X2_r     False
X2_n     False
X2_s     False
X2_f     False
X2_e     False
X3_c     False
X3_f     False
X3_a     False
X3_d     False
X3_g     False
X3_e     False
X3_b     False
X4_d     False
X4_a     False
X4_b     False
X4_c     False
X5_w     False
X5_v     False
X5_q     False
X5_r     False
X5_s     False
X5_d     False
X5_n     False
X5_p     False
X5_m     False
X5_i     False
X6_g     False
X6_j     False
X6_d     False
X6_i     False
X6_l     False
X6_a     False
X6_h     False
X6_k     False
X6_c     False
X6_b     False
dtype: bool

In [62]:
dados.shape

(4209, 57)

In [63]:
dados

,X1,X2,X3,X4,X5,X6,X1_aa,X1_s,X1_b,X1_l,X1_v,X1_r,X1_i,X1_a,X1_c,X1_o,X2_as,X2_ae,X2_ai,X2_m,X2_ak,X2_r,X2_n,X2_s,X2_f,X2_e,X3_c,X3_f,X3_a,X3_d,X3_g,X3_e,X3_b,X4_d,X4_a,X4_b,X4_c,X5_w,X5_v,X5_q,X5_r,X5_s,X5_d,X5_n,X5_p,X5_m,X5_i,X6_g,X6_j,X6_d,X6_i,X6_l,X6_a,X6_h,X6_k,X6_c,X6_b
0,v,at,a,d,u,j,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
1,t,av,e,d,y,l,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
2,w,n,c,d,x,j,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
3,t,n,f,d,x,l,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
4,v,n,f,d,h,d,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,s,as,c,d,aa,d,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
4205,o,t,d,d,aa,h,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
4206,v,r,a,d,aa,g,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
4207,r,e,f,d,aa,l,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
4208,r,ae,c,d,aa,g,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0

# Fim